.skip-link {
  display: none;
}

/* layout */

.bd-page-width {
  max-width: unset !important;
}

.bd-content {
  flex-grow: 1;
  max-width: 100%;
}

.bd-main .bd-content .bd-article-container {
  max-width: unset;
  flex: 1;
}

.bd-sidebar {
  max-width: var(--pst-sidebar-secondary);
}

.bd-main .bd-content .bd-article-container section p,
.bd-main .bd-content .bd-article-container section .admonition,
.bd-main .bd-content .bd-article-container section blockquote {
  max-width: 60em;
  margin-left: 0;
}

.bd-sidebar {
  border: 0;
}
